.search-field {
  display: flex;
  margin-top: -5px;
  max-width: 25%;
}

.list-title {
  font-size: 25px;
}

.edit-icon {
  color: var(--green-color-1);
}

.delete-icon {
  color: var(--red-color-1);
}
